{% extends 'common_code/base.html' %}

{% block content1 %}
<div class="space"></div>
<div class="container">
    <div class="row">

        <div class="col-lg-6 col-md-6 col-12">
            <h1>Our Approach</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <p align="justify">We host live classes, enabling students to promptly address their questions to instructors. Each batch benefits from a dedicated Google Classroom, where aiQuest supplies relevant materials. Recognizing the value of real-time support, we also offer separate WhatsApp and Messenger chat groups for immediate assistance and interaction.</p>
        </div>
    </div>
</div>

    <div class="line">
        <hr class="solid1">
      </div>

      <div class="container">
        <div class="row">
    
            <div class="col-lg-6 col-md-6 col-12">
                <h1>Our Mission</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <p align="justify">AiQuest Intelligence is a top Bangladeshi edTech company founded by Rashedul Alam Shakil in 2021. AiQuest collaborates with students and non-technical individuals to provide online courses in Python, Django, Database, Data Analytics, Business Intelligence, Data Science, and Artificial Intelligence.

                    At aiQuest Intelligence, our goal is to deliver top-notch education in data science, data analytics, and artificial intelligence throughout Bangladesh. We are committed to fostering a collaborative learning community where students can engage in fruitful discussions, address technical queries, and find solutions to challenges in Data Science and AI. Recognizing the limitations of traditional classroom training, we seamlessly blend theoretical instruction with practical, hands-on experience through our in-house projects, ensuring a comprehensive and enriched educational journey for our students.</p>
            </div>
        </div>
    </div>

    <div class="line">
        <hr class="solid1">
      </div>

      <div class="container">
        <div class="row">
    
            <div class="col-lg-6 col-md-6 col-12">
                <h1>Our Vision</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <p align="justify">Our primary vision is to impart smart and effective teaching of data science. We strive to offer comprehensive and up-to-date training in various AI technologies, such as machine learning, natural language processing, computer vision, and robotics. Moreover, we aspire to collaborate with industry partners to provide ample career development opportunities and job placement services for our graduates.</p>
            </div>
        </div>
    </div>

    <div class="space"></div>


{% endblock content1 %}